/* Farver 
https://colorhunt.co/palette/100f0f0f3d3ee2dcc8f1f1f1
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');

/* PARTICLES */
#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #100F0F;
}

.timeline-main-container{
    background-color: #E2DCC8;
    height: 100vh;
}

.App{
    height: 300vh;
}

.land-txt-container{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.land-img{
    width: 25%;
    border-radius: 50%;
    padding-top: 70px;
}

.land-txt-main{
    color: white;
    font-size: 7vw;
}

.land-txt-sub{
    color: white;
    padding-top: 35px;
    font-size: 3vw;
}

.left-text-container{
    background-color: red;
    height: 250px;
    width: 250px;
    background-attachment: fixed;
}

.landing-contact-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landing-contact-container h3{
    color: white;
}

.landing-contact-some{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    width: 40%;
}


.twitter:hover{
    transform: scale(1.2);
}

.facebook:hover{
    transform: scale(1.2);
}

.linkedin:hover{
    transform: scale(1.2);
}